//** Variable des couleurs utilisées partout sur le site **//


//$color-text:#exemple;


$color-text:#494949;
$color-text-light:#A2A2A2;
$color-primary:#3C54FA;
$color-secondary:#31AD1E;
$color-third:#edc368;
$color-bg:#F3F3F3;
$color-bg-dark:#F3F3F3;
$color-grey-border:#DEDEDE;
$color-danger:#D40009;
